input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: textfield;
}

.modify-box {
    height: max-content;
    min-height: calc(100vh - 1.3vw - 2.4rem - 2rem - 3rem);
    width: 100vw;
    margin-top: calc(1.3vw + 2.4rem + 2rem); /*Navbar height + 2rem*/;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modify-box .modify-form {
    width: 90vw;
    max-width: 60rem;
    border-radius: .4rem;
    background-color: transparent;
    color: white;
}

.modify-box .modify-form .form-header {
    text-align: center;
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 300;
    padding-top: 2rem;
}

.modify-box .modify-form .operation-info {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modify-box .modify-form .operation-info > span {
    color: rgb(180, 180, 180);
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.3vw;
    align-self: flex-start;
}

.modify-box .modify-form .operation-info .form-field {
    width: 100%;
    margin: .5vw 0 3vw 0;
    padding: 1vw 2vw;
    border-radius: .3rem;
    font-family: Poppins;
    font-size: 1vw;
    outline: none;
    color: black;
    background-color: white;
}

.modify-box .modify-form .operation-info .form-field.category-select {
    text-overflow: ellipsis;
}

.modify-box .modify-form .operation-info .form-field.category-select option {
    font-size: .8vw;
}

.modify-box .modify-form .operation-info .form-field.new-category {
    display: none;
}

.modify-box .modify-form .operation-info .form-field.btn-update {
    background-color: #ffc400;
    border: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    cursor: pointer;
    margin: .5vw 0;
}

.modify-box .modify-form .operation-info span.validation {
    color: #DC6558;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
    margin: 0 auto;
    display: none;
}

@media only screen and (max-width: 850px) {
    .modify-box .modify-form .form-header {
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    
    .modify-box .modify-form .operation-info {
        padding: 2rem;
    }
    
    .modify-box .modify-form .operation-info > span {
        font-size: 1rem;
    }
    
    .modify-box .modify-form .operation-info .form-field {
        margin: .3rem 0 1.5rem 0;
        padding: .5rem 1rem;
        font-size: .8rem;
    }
    
    .modify-box .modify-form .operation-info .form-field.category-select option {
        font-size: .6rem;
    }
    
    .modify-box .modify-form .operation-info .form-field.btn-update {
        font-size: 1rem;
        margin: .3rem 0;
    }
    
    .modify-box .modify-form .operation-info span.validation {
        font-size: .8rem;
    }
}