.home-container {
    height: 100vh;
    background: transparent;
    overflow: hidden;
}

.home-container .grid {
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;
}

.home-container .grid .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Merriweather Sans;
    color: white;
    padding: 4rem 5rem 0 5rem;
}

.home-container .grid .welcome h2 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: .2rem;
    text-align: center;
    overflow: hidden;
}

.home-container .grid .welcome p {
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2rem;
    margin: 2rem 0;
    overflow: hidden;
}

.home-container .grid .welcome .arrow-down {
    display: none;
    cursor: pointer;
}

.home-container .grid .auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    align-items: center;
    background-color: white;
    padding: 3rem 0;
    position: relative;
}

.home-container .grid .auth-links .text-links {
    font-family: Montserrat;
    text-align: center;
    overflow: hidden;
}

.home-container .grid .auth-links .text-links h2 {
    font-size: 2.6vw;
    font-weight: 700;
    margin-bottom: .7rem;
}

.home-container .grid .auth-links .text-links p {
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 3rem;
}

.home-container .grid .auth-links .auth-buttons {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.home-container .grid .auth-links .auth-buttons a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    color: white;
    padding: 1vw 2.6vw;
    margin: 1rem 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.home-container .grid .auth-links .auth-buttons .login {    
    background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 .75rem 1.6rem -.2rem rgba(105,105,105,0.75);
    
}

.home-container .grid .auth-links .auth-buttons .login:hover {
    background-position: right center;
}

.home-container .grid .auth-links .auth-buttons .signup {
    background-image: linear-gradient(to right, #52c234 0%, #134700  51%, #52c234  100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 .75rem 1.6rem -.2rem rgba(105,105,105,0.75);
}

.home-container .grid .auth-links .auth-buttons .signup:hover {
    background-position: right center;
}

.home-container .grid .auth-links .auth-buttons ion-icon {
    font-size: 1.4vw;
}

@media only screen and (max-width: 950px) {
    .home-container .grid .auth-links .auth-buttons a {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 750px) {
    .home-container .grid .auth-links .auth-buttons a {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 686px) {
    .home-container {
        height: auto;
    }
    
    .home-container .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-container .grid .welcome {
        height: 100vh;
    }
    
    .home-container .grid .welcome h2 {
        font-size: 5vw;
        line-height: 10vw;
    }
    
    .home-container .grid .welcome p {
        font-size: 4vw;
        text-align: center;
    }
    
    .home-container .grid .auth-links .text-links h2 {
        font-size: 5.2vw;
    }
    
    .home-container .grid .auth-links .text-links p {
        font-size: 3vw;
        margin-bottom: 1rem;
    }
    
    .home-container .grid .auth-links .auth-buttons {
        flex-direction: row;
        justify-content: space-around;
        
    }
    
    .home-container .grid .auth-links .auth-buttons a {
        font-size: 2.5vw;
        padding: 2vw 5.2vw;
        width: 40%;
    }
    
    .home-container .grid .auth-links .auth-buttons ion-icon {
        display: none;
    }    
}

@media only screen and (max-width: 686px) and (min-height: 600px) {
    .home-container .grid .welcome .arrow-down {
        display: block;
        position: absolute;
        bottom: 3rem;
        font-size: 8vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 350px) {
    .home-container .grid .auth-links .auth-buttons a {
        padding: 2vw 2.6vw;
    }
}