.background-image {
    height: 100vh;
    width: 100%;
    background: url(../img/bg1.jpg) center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.home-container {
    height: 100vh;
    background: transparent;
    overflow: hidden;
}

.home-container .grid {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 70%;
}

.home-container .grid .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    color: white;
    padding: 0 5rem;
}

.home-container .grid .welcome h1 {
    font-size: 5vw;
    font-weight: 500;
}

.home-container .grid .welcome h2 {
    font-size: 2vw;
    font-weight: 400;
}

.home-container .grid .welcome p {
    font-size: 1.5vw;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 2rem 0;
}

.home-container .grid .welcome img {
    display: none;
}

.home-container .grid .auth-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    align-items: center;
    background-color: white;
    padding: 3rem 2rem;
    position: relative;
}

.home-container .grid .auth-links .text-links {
    font-family: Montserrat;
    text-align: center;
    overflow: hidden;
}

.home-container .grid .auth-links .text-links h2 {
    font-size: 2.6vw;
    font-weight: 700;
    margin-bottom: .7rem;
}

.home-container .grid .auth-links .text-links p {
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 3rem;
}

.home-container .grid .auth-links a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    color: white;
    padding: 1vw 2.6vw;
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-container .grid .auth-links .login {
    background-color: #5cb85c;
}

.home-container .grid .auth-links .signup {
    background-color: #0275d8;
}

.home-container .grid .auth-links ion-icon {
    font-size: 1.4vw;
}

@media only screen and (max-width: 916px) {
    .home-container .grid .auth-links a {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 686px) {
    .home-container {
        height: auto;
    }
    
    .home-container .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-container .grid > div:nth-child(1) {
        grid-row: 2;
        margin: 0 20vw 10vw 20vw;
        border-radius: .6rem;
    }

    .home-container .grid > div:nth-child(2) {
        grid-row: 1;
    }

    .home-container .grid .welcome {
        height: 100vh;
    }

    .home-container .grid .welcome h1 {
        font-size: 10vw;
    }
    
    .home-container .grid .welcome h2 {
        font-size: 4vw;
    }
    
    .home-container .grid .welcome p {
        font-size: 3vw;
    }

    .home-container .grid .auth-links .text-links h2 {
        font-size: 5.2vw;
    }
    
    .home-container .grid .auth-links .text-links p {
        font-size: 2.4vw;
    }
    
    .home-container .grid .auth-links a {
        font-size: 2.4vw;
        padding: 2vw 5.2vw;
    }
    
    .home-container .grid .auth-links ion-icon {
        font-size: 2.4vw;
    }    
}

@media only screen and (max-width: 686px) and (min-height: 490px) {
    .home-container .grid .welcome img {
        display: block;
        height: 40vw;
        width: 40vw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 440px) {
    .home-container .grid .welcome {
        padding: 0 2.5rem;
    }

    .home-container .grid .welcome img {
        height: 60vw;
        width: 60vw;
    }
}

@media only screen and (max-width: 350px) {
    .home-container .grid .auth-links a {
        padding: 2vw 2.6vw;
    }
}