* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Start Message */

.msg-box {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    max-width: 18rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    z-index: 2000000;
}

.msg-box.error {
    background-color: rgba(217, 83, 79, .8);
}

.msg-box.success {
    background-color: rgba(92, 184, 92, .8);
}

.msg-box p {
    font-family: Poppins;
    font-weight: 500;
    font-size: .8rem;
    padding: .5rem 1rem;
}

.msg-box .close {
    border: none;
    background: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    font-size: 1.2rem;
}


/* End Message */

/* Start Navigation */

.nav {
    background: transparent;
    height: 7.191vw;
    min-height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav .nav-menu .nav-brand a {
    display: flex;
    align-items: center;
    color: white;
    font-family: Merriweather Sans;
    text-decoration: none;
}

.nav .nav-menu .nav-brand a img {
    height: 4.5vw;
    min-height: 2.5rem;
}

.nav .nav-menu .nav-brand a h2 {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: .5rem;
}

/* End Navigation */

/* Start footer */

footer.footer {
    height: 100%;
    background: black;
    position: relative;
}

footer.footer .container {
    padding: 0 2vw;
}

footer.footer .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    font-family: Poppins;
    font-weight: 300;
    margin: 2rem 0;
}

footer.footer .contact .entry {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer .contact .entry ion-icon {
    margin-right: .5rem;
    font-size: 2vw;
}

footer.footer .rights {
    text-align: center;
    font-family: Montserrat;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.896vw;
}

/* End Footer */

/* Start Viewports */

@media only screen and (max-width: 1250px) {
    footer.footer .contact {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 0;
    }

    footer.footer .contact .entry {
        font-size: 1.6vw;
        margin: 1rem 0;
    }
    
    footer.footer .contact .entry ion-icon {
        height: 1.6vw;
    }

    footer.footer .rights {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 800px) {
    footer.footer .contact .entry {
        font-size: 2.8vw;
    }
    
    footer.footer .contact .entry ion-icon {
        height: 2.8vw;
    }
    
    footer.footer .rights {
        font-size: 2.2vw;
    }   
}

@media only screen and (max-width: 686px) {
    .nav .nav-menu .nav-brand a h2 {
        font-size: 2.5vw;
        font-weight: 400;
        margin-left: .5rem;
    }
}

/* End Viewports */