<footer class="footer">
    <div class="container">
        <div class="schedule">
            <h2>ATENTTION SCHEDULE</h2>
            <ul class="week">
                <li class="day">
                    <span>Monday</span>
                    <span class="hour">08:00 - 22:00</span>
                </li>
                <li class="day">
                    <span>Tuesday</span>
                    <span class="hour">08:00 - 22:00</span>
                </li>
                <li class="day">
                    <span>Wednesday</span>
                    <span class="hour">08:00 - 20:00</span>
                </li>
                <li class="day">
                    <span>Thursday</span>
                    <span class="hour">08:00 - 20:00</span>
                </li>
                <li class="day">
                    <span>Friday</span>
                    <span class="hour">10:00 - 20:00</span>
                </li>
                <li class="day">
                    <span>Saturday</span>
                    <span class="hour">10:00 - 20:00</span>
                </li>
                <li class="day">
                    <span>Sunday</span>
                    <span class="hour">Close</span>
                </li>
            </ul>
        </div>
        <div class="about">
            <h2>ABOUT US</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis et reprehenderit, similique incidunt atque quo laboriosam ipsum. Magni dolores adipisci iusto animi dolorum nobis dignissimos natus minus blanditiis sapiente?</p>
        </div>
        <div class="links">
            <h2>QUICK LINKS</h2>
            <ul class="list">
                <% if(user) { %>
                <li class="link-item"><a href="">Dashboard</a></li>
                <li class="link-item"><a href="">New Income</a></li>
                <li class="link-item"><a href="">New Expenses</a></li>
                <% } else { %>
                <li class="link-item"><a href="/">Home</a></li>
                <li class="link-item"><a href="/auth/signin">Sign In</a></li>
                <li class="link-item"><a href="/auth/signup">Sign Up</a></li>
                <% } %>
            </ul>
        </div>
        <div class="contact">
            <h2>CONTACT</h2>
            <div class="info">
                <span class="entry"><ion-icon name="location"></ion-icon>111 5th Ave, Manhattan, New York.</span>
                <span class="entry"><ion-icon name="mail"></ion-icon>example@accountapp.com</span>
                <span class="entry"><ion-icon name="call"></ion-icon>(+1) 23 456 879</span>
            </div>
        </div>
    </div>
    <div class="rights">
        <h3>Felipe Michalski &copy; 2022 | All rights reserved</h3>
    </div>
</footer>