<footer class="footer">
    <div class="container">
        <div class="contact">
            <span class="entry"><ion-icon name="location"></ion-icon>111 5th Ave, Manhattan, New York.</span>
            <span class="entry"><ion-icon name="mail"></ion-icon>example@accountapp.com</span>
            <span class="entry"><ion-icon name="call"></ion-icon>(+1) 23 456 879</span>
        </div>
    </div>
    <div class="rights">
        <h3>Felipe Michalski &copy; 2022 | All rights reserved</h3>
    </div>
</footer>