<nav class="nav">
    <div class="nav-menu">
        <% if(user) { %>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <button class="expand-nav-btn"><ion-icon name="menu"></ion-icon></button>
                </div>
            </div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/dashboard">HOME</a>
                </li>
                <li class="nav-link">
                    <a href="/dashboard/list">OPERATIONS</a>
                </li>
                <li class="nav-link">
                    <a href="/dashboard/new">REGISTER</a>
                </li>
            </ul>                
            <button class="user-button" id="user"><ion-icon name="person" id="User"></ion-icon>&nbsp;<%- user.FULLNAME %></button>
        <% } else { %>
            <div class="nav-brand">
                <a href="/"><img src="/img/logos/nav-logo.png" alt="Logo"><h2>ACCOUNTAPP</h2></a>
            </div>
        <% } %>
    </div>
</nav>
<div class="nav-overlay"></div>