<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountapp - Dashboard</title>
    <link rel="icon" href="img/logos/logo.png" type="image/png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Courgette&family=Oswald&family=Roboto:wght@300;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;500;600;800&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/new.css">

</head>
<body>
    
    <%- include('../partials/user-modal') %>
    
    <%- include('../partials/background') %>
    
    <%- include('../partials/navigation') %>
 
    <div class="register-box">
        <h2>Register new operations.</h2>
        <form action="/dashboard/new" method="post" class="register-form">
            <div class="grid">
                <div class="concept-buttons">
                    <input type="hidden" name="concept" id="concept">
                    <div class="income">Income</div>
                    <div class="expenses">Expenses</div>
                </div>
                <div class="operation-info">
                    <input type="number" name="amount" placeholder="Amount" class="form-field" id="amount">
                    <input type="datetime-local" name="date" class="form-field">

                    <select name="category" class="category-select">
                        <option value="" selected hidden>Category</option>
                        <option value="">None</option>
                    </select>
                    <input type="text" name="newCategory" class="new-category" placeholder="New category">

                    <input type="text" name="category" class="form-field optional-category" placeholder="Category (optional)">

                    <button class="btn-send">SEND&nbsp;<ion-icon name="send"></ion-icon></button>
                    <span class="validation"></span>
                </div>
            </div>
        </form>
    </div>
   
    <%- include('../partials/footer') %>

    <!-- Jquery -->
    <script src="/js/jquery-3-6-0.min.js"></script>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/user/new.js"></script>
    
</body>
</html>