<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountapp - Log In</title>
    <link rel="icon" href="/img/logos/logo.png" type="image/png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Courgette&family=Oswald&family=Roboto:wght@300;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;500;800&display=swap" rel="stylesheet">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/signup.css">

</head>
<body>

    <%- include('../partials/background') %>

    <%- include('../partials/navigation') %>

    <%- include('../partials/message') %>

    <div class="box">
        <div class="login-card">
            <div class="login-text">
                <div class="img-logo">
                    <img src="/img/logos/person1.png" alt="Person">
                </div>
                <h2 class="title">SIGN UP</h2>
            </div>
            <form action="/auth/signup" method="POST" class="login-form">
                    <div class="form-field text-field">
                        <ion-icon name="mail" id="email-icon"></ion-icon>
                        <input type="email" name="email" placeholder="Email" id="email" autocomplete="off" required>
                    </div>
                    <div class="form-field text-field">
                        <ion-icon name="person" id="fullname-icon"></ion-icon>
                        <input type="text" name="fullname" placeholder="Fullname" id="fullname" autocomplete="off" required>
                    </div>
                    <div class="form-field text-field">
                        <ion-icon name="lock-open" id="password-icon"></ion-icon>
                        <input type="password" name="password" placeholder="Password" id="password" autocomplete="off" required>
                        <ion-icon name="eye" id="password-eye"></ion-icon>
                    </div>
                    <div class="validation-box">
                        <p class="validation"></p>
                    </div>
                    <button class="form-field" type="button" id="send-form">ENTER</button>
                    <hr />
                    <a class="create" href="/auth/login">Do you have an account? Log in</a>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <!-- Jquery -->
    <script src="/js/jquery-3-6-0.min.js"></script>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/signup.js"></script>
    
</body>
</html>